{
	attributes = (
		{
			allowsNull = Y;
			className = NSDate;
			columnName = dateOfBirth;
			name = dateOfBirth;
		},
		{
			allowsNull = Y;
			columnName = email;
			name = email;
			valueClassName = NSString;
		},
		{
			allowsNull = N;
			columnName = firstname;
			name = firstname;
			valueClassName = NSString;
		},
		{
			columnName = id;
			name = id;
			valueClassName = NSNumber;
			valueType = d;
		},
		{
			allowsNull = N;
			columnName = lastname;
			name = lastname;
			valueClassName = NSString;
		},
		{
			allowsNull = Y;
			columnName = phone;
			name = phone;
			valueClassName = NSNumber;
			valueType = d;
		},
	);
	"attributesUsedForLocking" = (
		id,
	);
	className = Address;
	classProperties = (
		dateOfBirth,
		email,
		firstname,
		lastname,
		phone,
	);
	externalName = Address;
	"fetchSpecificationDictionary" = {};
	name = Address;
	primaryKeyAttributes = (
		id,
	);
}